td.amount {
    text-align: right;
    font-weight: 700;
}

.chart-block {
    width: 100%;
    margin-top: 20px;
}

.chart-container {
    width: 100%;
    padding-bottom: 40px; 
    page-break-inside: avoid; 
    display: block;
    text-align: center;
}

.chart-container img {
    max-width: 100%;
    height: auto;
    display: inline-block;
}